@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$orange: #f26345;

body{
  font-family: 'Poppins', sans-serif;
}

#top-desktop{
  @media screen and (max-width:768px) {
    display: none;
  }
}
#top-mobile{
  display: none;
  @media screen and (max-width:768px) {
    display: block;
  }
}

.link-gradient{
  background-image: linear-gradient(to right, #8e44ad 0%, #c0392b  55%, #c0392b  100%);
  transition: .5s;
  background-size: 200% auto;
  &:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;        
  }
}

.orange-top{
  background-color: $orange;
  .act-link{
    width: 120px;
    a{
      color: #fff;
    }
  }
  .searchbar {
    position: relative;
    min-width: 50px;
    width: 0%;
    height: 50px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s
  }

  .searchbar-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0px 55px 0px 20px;
      font-size: 20px;
      color: #000;
      background: whitesmoke;
  }

  .searchbar-input::-webkit-input-placeholder {
      color: #fff
  }

  .searchbar-input:-moz-placeholder {
      color: #fff
  }

  .searchbar-input::-moz-placeholder {
      color: #fff
  }

  .searchbar-input:-ms-input-placeholder {
      color: #fff
  }

  .searchbar-icon,
  .searchbar-submit {
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top: 0;
      font-family: verdana;
      font-size: 22px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      background: $orange;
  }

  .searchbar-open {
      width: 100%
  }
}

.after-orange-top{
  .menus{
    ul{
      li{
        float: left;
        list-style: none;
        font-weight: 700;
        a{
          color: $orange;
          text-decoration: none;
          &:hover{
            color: #f8ab34;
          }
        }
      }
    }
  }
}

.section{
  h1{
    &.title{
      font-size: 52px;
      font-weight: 700;
      color: $orange;
    }
  }
}


#about{
  background: url(../images/banner-about.png) no-repeat;
  .block{
    background: rgba(255, 255, 255, 0.88);
  }
}

#academy{
  background: #fff4cf;
  
  h4{
    color: $orange;
    font-size: 40px;
    font-weight: 700;
  }
  .column{
    .block{
      display: block;
      .block-module{
        height: 300px;
        overflow: hidden;
        border-radius: 15px;
        h6{
          font-size: 23px;
          font-weight: 700;
          a{
            color: #fff;
            text-decoration: none;
            &:hover{
              color: #f4f3f2;
            }
          }
        }
        .btn-act{
          a{
            background: #fff;
            color: $orange;
            font-size: 15px;
            font-weight: 700;
            width: 100px;
            display: inline-block;
            text-align: center;
            margin-right: 20px;
            text-decoration: none;
            padding: 2px;
            &:last-child{
              margin-right: 0;
            }
          }
        }
        &.bg-orange{
          background: $orange;
        }
        &.bg-yellow{
          background: #f8ab34;
        }
        &.bg-blue{
          background: #3ea2d3;
        }
      }
      .block-col{
        height: 387px;
        overflow: hidden;
        border-radius: 15px;
        .img{
          a{
            display: block;
            &.thumb-video{
              &::before{
                background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
          }
        }
        .block-text{
          position: absolute;
          height: 50%;
          bottom: 0;
          background: rgba(244, 243, 242, 0.9);
          .date{
            background: #f8ab34;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 20px;
            font-size: 23px;
            line-height: 30px;
            top: -50px;
          }
          h6{
            color: $orange;
            font-size: 23px;
            font-weight: 700;
            padding-top: 25px;
            a{
              color: $orange;
              text-decoration: none;
              &:hover{
                color: #f8ab34;
              }
            }
          }
          .column{
            display: flex;
            justify-content: space-between;
            .author{
              color: $orange;
            }
            .btn-act{
              width: 120px;
              flex-direction: column;
              display: flex;
              font-size: 15px;
              font-weight: 700;
              .free{
                background: $orange;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: $orange !important;
                }
              }
              .daftar{
                background: #f8ab34;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f8ab34 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

#expert{
  background: url(../images/blue-shape.jpg) no-repeat;
  background-size: cover;
  .sliders-wrapper{
    .slick-prev {
      display: none !important;
    }
    .slick-next{
      position: absolute;
      right: -50px;
      top: 50%;
      background: url(../images/arrow-expert.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 52px;
      height: 52px;
      border: none;
      box-shadow: none;
    }
  }
  
  .headline{
    font-weight: 700;
    font-size: 50px;
  }
  .block{
    .after-img{
      .more{
        font-size: 15px;
        a{
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

#events{
  background: #fff4cf;
  .column{
    .block{
      display: block;
      .block-col{
        height: 387px;
        overflow: hidden;
        border-radius: 15px;
        .img{
          a{
            display: block;
            &.thumb-video{
              &::before{
                background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
          }
        }
        .block-text{
          position: absolute;
          height: 50%;
          bottom: 0;
          background: rgba(244, 243, 242, 0.9);
          .date{
            background: #3ea2d3;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 20px;
            font-size: 23px;
            line-height: 30px;
            top: -50px;
          }
          h6{
            color: $orange;
            font-size: 23px;
            font-weight: 700;
            padding-top: 25px;
            a{
              color: $orange;
              text-decoration: none;
              &:hover{
                color: #f8ab34;
              }
            }
          }
          .column{
            display: flex;
            justify-content: space-between;
            .author{
              color: $orange;
            }
            .btn-act{
              width: 120px;
              flex-direction: column;
              display: flex;
              font-size: 15px;
              font-weight: 700;
              .free{
                background: #f267ab;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f267ab !important;
                }
              }
              .daftar{
                background: #f8ab34;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f8ab34 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}


#market{
  background: #f4a720;
  h1{
    font-size: 40px;
    font-weight: 700;
  }
  .shortdesc{
    p{
      font-size: 28px;
    }
  }
  .mt-85{
    margin-top: 85px;
  }
  .block-label{
    font-size: 22px;
    color: $orange;
  }
  .shop-more{
    text-align: right;
    font-size: 22px;
    margin: 10px 0;
    a{
      color: #ce6110;
      font-weight: 700;
    }
  }
  .block{
    display: block;
    &.product-off-the-day{
      .block-col{
        height: 453px;
        overflow: hidden;
        border-radius: 50px;        
      }
      .block-text{
        h6{
          font-size: 23px !important;
          padding-top: 25px;
        }
        .price{
          font-size: 23px !important;
        }
        .rating{
          font-size: 18px !important;
        }
      }
    }
    .block-col{
      height: 380px;
      overflow: hidden;
      border-radius: 50px;
      .img{
        a{
          display: block;
          img{
            width: 100%;
            object-fit: cover;
          }
          &.thumb-video{
            &::before{
              background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
            }
          }
        }
      }
      .block-text{
        position: absolute;
        height: 50%;
        bottom: 0;
        background: rgba(244, 243, 242, 0.9);
        h6{
          font-size: 23px;
          padding-top: 15px;
          a{
            color: #3b3b3b;
            text-decoration: none;
            &:hover{
              color: $orange;
            }
          }
        }
        .column{
          .price{
            color: #9b53b7;
            font-weight: 700;
            font-size: 23px;
          }
          .rating{
            color: #3b3b3b;
            font-size: 20px;
            svg{
              color: #f4a720;
            }
          }
        }
      }
    }
  }
}


#income{
  background: url(../images/pink-shape.jpg) no-repeat;
  background-size: cover;
  .shortdesc{
    font-size: 28px;
  }
  .block{
    .subtitle{
      font-size: 35px;
    }
    .img{
      height: 350px;
    }
    .headline{
      background: #de4670;
      font-size: 30px;
      height: 350px;
      width: 332px;
      border-radius: 25px;
      padding: 20px 31px;
      line-height: 38px;
      display: flex;
      align-items: center;
    }
    .button{
      font-size: 24px;
      a{
        text-decoration: none;
        width: 319px;
        height: 76px;
      }
    }
  }
  .testimonial-wrapper{
    background: url(../images/border-pink.png) no-repeat top center;
    padding-top: 50px;
    .testi-block{
      .testi{
        font-size: 30px;
        line-height: 35px;
        font-style: italic;
        span{
          font-style: normal;
        }
      }
    }
  }
}


#trusted{
  background: #ffe8f2;
  h1{
    color: #d74c72;
    font-size: 40px;
  }
  .sliders-wrapper{
    .slick-prev {
      display: none !important;
    }
    .slick-next{
      position: absolute;
      right: -150px;
      top: 20%;
      background: url(../images/arrow-pink.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 58px;
      height: 58px;
      border: none;
      box-shadow: none;
    }
  }
  .block{
    .img{
      height: 30vh;
    }
  }
}


#get-intouch{
  background: #fff4cf;
  h1{
    color: $orange;
    font-size: 60px;
  }
  .block{
    padding: 30px;
    label{
      color: #454545;
    }
    textarea{
      resize: none;
      background-color: #f7f7f7;
    }
    .button-wrapper{
      text-align: right;
      font-size: 22px;
      button{
        width: 182px;
        height: 57px;
      }
    }
  }
  .text-column{
    color: #454545;
    ul{
      li{
        list-style: none;
        padding-left: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a{
          color: #454545;
        }
        &.wa{
          background: url(../images/img-wa.png) no-repeat left center;
        }
        &.location{
          background: url(../images/img-maps.png) no-repeat left center;
        }
      }
    }
  }
}