@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$orange: #f26345;

body{
  font-family: 'Poppins', sans-serif;
}

#wrapper{
  overflow: hidden;
}

.form-control-plaintext{
  outline: none;
}

#top-desktop{
  @media screen and (max-width:768px) {
    display: none;
  }
}
#top-mobile{
  display: none;
  @media screen and (max-width:768px) {
    display: block;
  }
}

.mobile-column{
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
}

.link-gradient{
  background-image: linear-gradient(to right, #8e44ad 0%, #c0392b  55%, #c0392b  100%);
  transition: .5s;
  background-size: 200% auto;
  &:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;        
  }
}

.bg-orange{
  background: $orange;
}
.bg-yellow{
  background: #f8ab34;
}
.bg-blue{
  background: #3ea2d3;
}
.bg-purple{
  background: #9f3799;
}
.bg-pink{
  background: #f76fb9;
}
.bg-green{
  background: #5da052;
}

.form-popup{
  .wrapper-oblock{
    &::before{
      position: absolute;
      content: '';
      width: 50%;
      height: 1px;
      background-color: #000;
      top: 50%;
      left: 0;
    }
    &::after{
      position: absolute;
      content: '';
      width: 50%;
      height: 1px;
      background-color: #000;
      top: 50%;
      right: 0;
    }
    .oblock{
      background: #fff;
      display: inline-block;
      position: relative;
      z-index: 1;
    }
  }
  form{
    .form-group{
      input{
        background-color: whitesmoke;
        border: none;
        padding: 25px 20px;
        border-radius: 10px;
      }
      span{
        color: $orange;
      }
    }
    .btn-submit-popup{
      background: $orange;
      border-radius: 15px;
      @include media-breakpoint-up(md){
        height: 60px;
      }
    }
  }
}


.detail-class-page-wrapper{
  .date{
    background: #3ea2d3;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    font-size: 23px;
    line-height: 30px;
    top: -50px;
    @include media-breakpoint-down(xs){
      top: -175px;
      right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .menu-after-details-info{
    font-size: 24px;
    @include media-breakpoint-down(xs){
      font-size: 16px;
    }
    a{
      color: #3ea2d3;
      font-weight: 600;
      text-decoration: none;
      display: block;
      padding-right: 20px;
      position: relative;
      &:hover{
        color: $orange;
      }
      &:first-child{
        &::before{
          position: absolute;
          content: '';
          width: 2px;
          height: 15px;
          background-color: #212222;
          right: 0;
          top: 10px;
          @include media-breakpoint-down(xs){
            top: 5px;
          }
        }
      }
    }
    .time{
      color: #212222;
      opacity: 0.5;
    }
  }
  .title-page{
    font-weight: bold;
    color: #4b4b4b;
    @include media-breakpoint-down(xs){
      font-size: 20px;
    }
  }
  .details-info{
    color: #4b4b4b;
    font-size: 19px;
    @include media-breakpoint-down(xs){
      font-size: 14px;
    }
  }
  .shortdesc{
    color: #2a2a2a;
  }
  .sidebar-menus{
    background-color: #333;
    @include media-breakpoint-up(lg){
      height: 464px;
    }
    ul{
      padding: 0;
      margin: 0;
      @include media-breakpoint-up(md){
        height: 410px;
        overflow-y: scroll;
      }
      li{
        list-style: none;
        font-weight: bold;
        margin-bottom: 20px;
        @include media-breakpoint-down(md){
          font-size: 13px;
        }
        a{
          color: white;
          text-decoration: none;
          &:hover{
            color: $orange;
          }
        }
      }
    }
  }
}

.market-class-page{
  .submenux{
    ul{
      margin: 0;
      @include media-breakpoint-down(md){
        padding-left: 0;
      }
      li{
        list-style: none;
        float: left;
        font-size: 20px;
        margin-right: 30px;
        @include media-breakpoint-down(xs){
          float: none;
        }
        &:last-child{
          margin-right: 0;
        }
        &.active{
          font-weight: 700;
        }
        &:hover{
          font-weight: 700;
        }
        a{
          color: #4f4e4e;
          text-decoration: none;
        }
      }
    }
  }
  .sell{
    font-size: 20px;
    a{
      font-weight: 700;
      color: $orange;
      text-decoration: none;
    }
  }
  .btn-search{
    width: 60%;
    height: 50px;
    span{
      @include media-breakpoint-between(sm,md){
        display: none;
      }
    }
  }
  .sortmenus{
    p{
      line-height: 2.5;  
    }
    ul{
      li{
        list-style: none;
        float: left;
        margin-right: 20px;
        padding: 10px 20px;
        border-radius: 10px;        
        @include media-breakpoint-down(md){
          padding: 10px;
          margin-right: 0;
        }
        &.active{
          background: $orange;
          color: white;
        }
        .dropdown{
          button{
            background-color: transparent !important;
            border: none;
            color: #454545 !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .block{
    .block-col{
      height: 285px !important;
      border-radius: 20px !important;
      @include media-breakpoint-down(xs){
        height: 365px !important;
      }
      .rating{
        @include media-breakpoint-down(xs){
          display: flex;
          span{
            line-height: 20px;
            margin-right: 3px;
          }
        }
      }
    }
  }
  .btn-act-market{
    button{
      width: 45%;
      height: 35px;
    }
  }
  .market-left-wrapper{
    .market-left-img{
      .slick-dots{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        li{
          list-style: none;
          margin: 0 5px;
          &.slick-active{
            button{
              background-color: #655141;
            }
          }
          button{
            border: none;
            background: #fff;
            text-indent: -9999px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            padding: 0;
            outline: none;
          }
        }
      }
    }
    .ava{
      width: 65px;
      height: 65px;
      overflow: hidden;
      border-radius: 50%;
    }
    .city{
      color: #999797;
      font-size: 18px;
    }
    .ratings{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          float: left;
          color: #fbd005;
        }
      }
    }
    .feedback{
      font-size: 18px;
      a{
        text-decoration: underline;
        color: $orange;
      }
    }
  }
  .market-right-wrapper{
    color: #3b3b3b;
    .title-market{
      font-size: 45px;
      font-weight: 600;
    }
    .after-title{
      .ratings{
        ul{
          padding: 0;
          margin: 0;
          li{
            list-style: none;
            float: left;
            color: #fbd005;
            @include media-breakpoint-down(md){
              font-size: 12px;
            }
          }
        }
      }
      .reviews{
        border-left: 1px solid;
        border-right: 1px solid;
      }
    }
    .price{
      font-size: 35px;
      color: $orange;
      font-weight: 600;
    }
    .btn-wrapper{
      button{
        height: 55px;
        font-size: 19px;
        @include media-breakpoint-down(md){
          font-size: 15px;
        }
      }
      .chat{
        button{
          border: 1px solid #4f4e4e;
          color: #4f4e4e;
        }
      }
      .order{
        button{
          background-color: $orange;
          color: white;
        }
      }
    }
  }
}

.orange-top{
  background-color: $orange;
  .act-link{
    width: 120px;
    a{
      color: #fff;
    }
  }
  .searchbar {
    position: relative;
    min-width: 50px;
    width: 0%;
    height: 50px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s
  }

  .searchbar-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0px 55px 0px 20px;
      font-size: 20px;
      color: #000;
      background: whitesmoke;
  }

  .searchbar-input::-webkit-input-placeholder {
      color: #fff
  }

  .searchbar-input:-moz-placeholder {
      color: #fff
  }

  .searchbar-input::-moz-placeholder {
      color: #fff
  }

  .searchbar-input:-ms-input-placeholder {
      color: #fff
  }

  .searchbar-icon,
  .searchbar-submit {
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top: 0;
      font-family: verdana;
      font-size: 22px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      background: $orange;
  }

  .searchbar-open {
      width: 100%
  }
}

.after-orange-top{
  .menus{
    ul{
      li{
        float: left;
        list-style: none;
        font-weight: 700;
        position: relative;
        padding-right: 20px;
        &:last-child{
          padding-right: 0;
        }
        &.active{
          &::before{
            background-color: $orange;
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            left: -15px;
            border-radius: 50%;
            top: 7px;
          }
          a{
            color: #72555c;
          }
        }
        a{
          color: $orange;
          text-decoration: none;
          &:hover{
            color: #72555c;
          }
        }
      }
    }
  }
}

.section{
  h1{
    &.title{
      font-size: 52px;
      font-weight: 700;
      color: $orange;
      @include media-breakpoint-down(xs){
        font-size: 36px;
      }
    }
  }
}

#banner-get-income{
  background: #e4e1d9 url(../images/banner-get-income.png) no-repeat center;
  @include media-breakpoint-up(md){
    min-height: 600px;
  }
  .title{
    font-size: 50px;
    color: #343434;
    font-weight: 600;
    @include media-breakpoint-down(xs){
      font-size: 25px;
    }
  }
  .shortdesc{
    font-size: 19px;
    color: #4f4e4e;
    a{
      color: #4f4e4e;
    }
  }
  .register-btn{
    width: 50%;
    font-size: 20px;
    a{      
      font-weight: 600;
      height: 60px;
    }
  }
}

#freelancer{
  .list-freelancer-wrapper{
    .box{
      border-radius: 15px;
      a{
        text-decoration: underline;
      }
    }
    .block{
      .img{
        a{
          border-radius: 15px;
          overflow: hidden;
          @include media-breakpoint-up(md){
            height: 342px;
          }
          &::before{
            content: '';
            position: absolute;
            background: url(../images/shadow-freelancer.png) no-repeat;
            width: 100%;
            height: 300px;
            bottom: -100px;
            left: 0;
            right: 0;
            object-fit: cover;
          }
          img{
            height: 100%;
            object-fit: cover;
          }
          &:hover{
            .txt{
              h4{
                color: $orange !important;
              }
            }
          }
          .txt{
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 30px;
          }
        }
      }
    }
  }
}

#headline2{
  h1{
    color: $orange;
    font-size: 50px;
  }
  .register-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    a{      
      font-weight: 600;
      height: 60px;
      padding: 0 40px;
    }
  }
}

#about{
  background: url(../images/banner-about.png) no-repeat;
  @include media-breakpoint-down(sm){
    background-color: #fff4cf;
    background-size: cover;
    background-position: 30% 50px;
  }
  @include media-breakpoint-between(md, lg){
    background-position: -500px 0;
  }
  .block{
    background: rgba(255, 255, 255, 0.88);
  }
}

#academy{
  background: #fff4cf;
  &.academy-class-page{
    .column{
      .block{
        .block-module{
          height: 385px;
          @include media-breakpoint-down(xs){
            height: auto;
          }
        }
      }
    }
  }
  .filter-category{
    select{
      background: url(../images/arrow-dropdown.png) no-repeat 90% center;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
      height: 52px;
      font-size: 12px;
    }
  }
  .btn-search{
    background: $orange;
    border: none;
    height: 52px;
    span{
      @include media-breakpoint-between(sm,md){
        display: none;
      }
    }
  }
  h4{
    color: $orange;
    font-size: 40px;
    font-weight: 700;
    @include media-breakpoint-down(xs){
     text-align: left !important;
     font-size: 28px; 
    }
  }
  .column{
    .block{
      display: block;
      @include media-breakpoint-down(xs){
        margin-bottom: 20px;
      }
      .block-module{
        height: 300px;
        overflow: hidden;
        border-radius: 15px;
        @include media-breakpoint-down(xs){
          height: 250px;
        }
        .img{
          a{
            display: block;
            height: 100%;
            &::before{
              @include media-breakpoint-down(xs){
                background: rgba(0, 0, 0, 0.45);
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
            .title-mobile{
              bottom: 0;
              font-size: 23px;
            }
          }
        }
        h6{
          font-size: 23px;
          font-weight: 700;
          a{
            color: #fff;
            text-decoration: none;
            &:hover{
              color: #f4f3f2;
            }            
          }
        }
        .btn-act{
          @include media-breakpoint-down(xs){
            width: 100%;
            flex-direction: row;
            align-items: center;
            height: 50px;
            display: flex;
          }
          a{
            background: #fff;
            color: $orange;
            font-size: 15px;
            font-weight: 700;
            width: 100px;
            display: inline-block;
            text-align: center;
            margin-right: 20px;
            text-decoration: none;
            padding: 2px;
            @include media-breakpoint-down(xs){
              width: 48%;
              margin-bottom: 0 !important;
              height: 40px;
              align-items: center;
              display: flex;
              justify-content: center;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
        
      }
      .block-col{
        height: 387px;
        overflow: hidden;
        border-radius: 15px;
        @include media-breakpoint-down(xs){
          height: 270px;
        }
        .img{
          a{
            display: block;
            &::before{
              @include media-breakpoint-down(xs){
                background: rgba(0, 0, 0, 0.45);
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
            &.thumb-video{
              &::before{
                background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                @include media-breakpoint-down(xs){
                  background-image: none;
                }
              }
            }
            .floating-txt{
              top: 20%;
              h6{
                font-size: 23px;
                font-weight: 700;
              }
            }
          }
        }
        .block-text{
          position: absolute;
          height: 50%;
          bottom: 0;
          background: rgba(244, 243, 242, 0.9);
          @include media-breakpoint-down(xs){
            height: 30%;
          }
          .date{
            background: #f8ab34;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 20px;
            font-size: 23px;
            line-height: 30px;
            top: -50px;
            @include media-breakpoint-down(xs){
              top: -175px;
              right: 20px;
              width: 60px;
              height: 60px;
              border-radius: 10px;
              font-size: 18px;
              line-height: 20px;
            }
          }
          h6{
            color: $orange;
            font-size: 23px;
            font-weight: 700;
            padding-top: 25px;
            a{
              color: $orange;
              text-decoration: none;
              &:hover{
                color: #f8ab34;
              }
            }
          }
          .column{
            display: flex;
            justify-content: space-between;
            .author{
              color: $orange;
            }
            .btn-act{
              width: 120px;
              flex-direction: column;
              display: flex;
              font-size: 15px;
              font-weight: 700;
              @include media-breakpoint-down(xs){
                width: 100%;
                flex-direction: row;
                align-items: center;
                height: 50px;
                display: flex;
                justify-content: space-between;
              }
              a{
                @include media-breakpoint-down(xs){
                  width: 48%;
                  margin-bottom: 0 !important;
                  height: 40px;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                }
              }
              .free{
                background: $orange;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: $orange !important;
                }
              }
              .daftar{
                background: #f8ab34;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f8ab34 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

#expert{
  background: url(../images/blue-shape.jpg) no-repeat;
  background-size: cover;
  .sliders-wrapper{
    .slick-prev {
      position: absolute;
      left: 0px;
      top: 50%;
      background: url(../images/arrow-expert.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 52px;
      height: 52px;
      border: none;
      box-shadow: none;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      z-index: 9;
      @include media-breakpoint-up(md){
        display: none;
      }
    }
    .slick-next{
      position: absolute;
      right: -50px;
      top: 50%;
      background: url(../images/arrow-expert.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 52px;
      height: 52px;
      border: none;
      box-shadow: none;
      @include media-breakpoint-down(xs){
        right: 0;
      }
    }
  }
  
  .headline{
    font-weight: 700;
    font-size: 50px;
  }
  .block{
    .after-img{
      .more{
        font-size: 15px;
        a{
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

#behind-mom{
  background: url(../images/blue-shape.jpg) no-repeat;
  background-size: cover;
  .shortdesc{
    font-size: 23px;
    line-height: 1.2;
  }
  .moreknow{
    font-size: 24px;
    a{
      width: 310px;
      height: 75px;
    }
  }
  .sliders-wrapper{
    .slick-prev {
      position: absolute;
      left: 0px;
      top: 50%;
      background: url(../images/arrow-expert.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 52px;
      height: 52px;
      border: none;
      box-shadow: none;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      z-index: 9;
      @include media-breakpoint-up(md){
        display: none;
      }
    }
    .slick-next{
      position: absolute;
      right: -50px;
      top: 50%;
      background: url(../images/arrow-expert.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 52px;
      height: 52px;
      border: none;
      box-shadow: none;
      @include media-breakpoint-down(xs){
        right: 0;
      }
    }
  }
  
  .headline{
    font-weight: 700;
    font-size: 40px;
  }
  .block{
    .after-img{
      .more{
        font-size: 15px;
        a{
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

#events{
  background: #fff4cf;
  .column{
    .block{
      display: block;
      @include media-breakpoint-down(xs){
        margin-bottom: 20px;
      }
      .block-col{
        height: 387px;
        overflow: hidden;
        border-radius: 15px;
        @include media-breakpoint-down(xs){
          height: 270px;
        }
        .img{
          a{
            display: block;
            &::before{
              @include media-breakpoint-down(xs){
                background: rgba(0, 0, 0, 0.45);
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
            &.thumb-video{
              &::before{
                background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
              }
            }
            .floating-txt{
              top: 20%;
              h6{
                font-size: 23px;
                font-weight: 700;
              }
            }
          }
        }
        .block-text{
          position: absolute;
          height: 50%;
          bottom: 0;
          background: rgba(244, 243, 242, 0.9);
          @include media-breakpoint-down(xs){
            height: 30%;
          }
          .date{
            background: #3ea2d3;
            position: absolute;
            width: 90px;
            height: 90px;
            border-radius: 20px;
            font-size: 23px;
            line-height: 30px;
            top: -50px;
            @include media-breakpoint-down(xs){
              top: -175px;
              right: 20px;
              width: 60px;
              height: 60px;
              border-radius: 10px;
              font-size: 18px;
              line-height: 20px;
            }
          }
          h6{
            color: $orange;
            font-size: 23px;
            font-weight: 700;
            padding-top: 25px;
            a{
              color: $orange;
              text-decoration: none;
              &:hover{
                color: #f8ab34;
              }
            }
          }
          .column{
            display: flex;
            justify-content: space-between;
            .author{
              color: $orange;
            }
            .btn-act{
              width: 120px;
              flex-direction: column;
              display: flex;
              font-size: 15px;
              font-weight: 700;
              @include media-breakpoint-down(xs){
                width: 100%;
                flex-direction: row;
                align-items: center;
                height: 50px;
                display: flex;
                justify-content: space-between;
              }
              a{
                @include media-breakpoint-down(xs){
                  width: 48%;
                  margin-bottom: 0 !important;
                  height: 40px;
                  align-items: center;
                  display: flex;
                  justify-content: center;
                }
              }
              .free{
                background: #f267ab;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f267ab !important;
                }
              }
              .daftar{
                background: #f8ab34;
                text-decoration: none;
                &:hover{
                  background: #fff;
                  color: #f8ab34 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bg-transparant{
  background-color: transparent !important;
}

#market{
  background: #f4a720;
  h1{
    font-size: 40px;
    font-weight: 700;
  }
  #pills-tab{
    li{
      position: relative;
      @include media-breakpoint-down(xs){
        font-size: 14px;
      }
      a{
        &.active{
          &::before{
            position: absolute;
            content: '';
            width: 20%;
            height: 3px;
            background-color: #fff;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }
  }
  #pills-tabContent{
    .block-col{
      height: 353px;
      overflow: hidden;
      border-radius: 20px;        
      .block-text{
        h6{
          padding-top: 0 !important;
        }
      }
    }
  }
  .shortdesc{
    p{
      font-size: 28px;
      @include media-breakpoint-down(xs){
        font-size: 18px;
      }
    }
  }
  .mt-85{
    margin-top: 85px;
  }
  .block-label{
    font-size: 22px;
    color: $orange;
  }
  .shop-more{
    text-align: right;
    font-size: 22px;
    margin: 10px 0;
    a{
      color: #ce6110;
      font-weight: 700;
    }
  }
  .block{
    display: block;    
    &.product-off-the-day{
      .block-col{
        height: 465px;
        overflow: hidden;
        border-radius: 50px;        
      }
      .block-text{
        h6{
          font-size: 23px !important;
          padding-top: 25px;
        }
        .price{
          font-size: 23px !important;
        }
        .rating{
          font-size: 18px !important;
        }
      }
    }
    .block-col{
      height: 380px;
      overflow: hidden;
      border-radius: 50px;
      .img{
        a{
          display: block;
          img{
            width: 100%;
            object-fit: cover;
          }
          &.thumb-video{
            &::before{
              background: rgba(0, 0, 0, 0.45) url(../images/btn-play.png) no-repeat center 35%;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
            }
          }
        }
      }
      .block-text{
        position: absolute;
        height: 50%;
        bottom: 0;
        background: rgba(244, 243, 242, 0.9);
        h6{
          font-size: 23px;
          padding-top: 15px;
          a{
            color: #3b3b3b;
            text-decoration: none;
            &:hover{
              color: $orange;
            }
          }
        }
        .column{
          .price{
            color: #9b53b7;
            font-weight: 700;
            font-size: 23px;
          }
          .rating{
            color: #3b3b3b;
            font-size: 20px;
            svg{
              color: #f4a720;
            }
          }
        }
      }
    }
  }
}


#income{
  background: url(../images/pink-shape.jpg) no-repeat;
  background-size: cover;
  .shortdesc{
    font-size: 28px;
    @include media-breakpoint-down(md){
      font-size: 20px;
    }
  }
  .block{
    .subtitle{
      font-size: 35px;
    }
    .img{
      height: 350px;
      @include media-breakpoint-down(md){
        height: 100%;
      }
    }
    .headline{
      background: #de4670;
      font-size: 30px;
      height: 350px;
      width: 332px;
      border-radius: 25px;
      padding: 20px 31px;
      line-height: 38px;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md){
        height: 100%;
        width: 100%;
        font-size: 18px;
        line-height: 20px;
      }
    }
    .button{
      font-size: 24px;
      a{
        text-decoration: none;
        width: 319px;
        height: 76px;
        @include media-breakpoint-down(md){
          width: 100%;
        }
      }
    }
  }
  .mobile-tabs{
    #testi-tab{
      li{
        position: relative;
        a{
          &.active{
            &::before{
              position: absolute;
              content: '';
              width: 20%;
              height: 3px;
              background-color: #fff;
              bottom: 0px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
    }
    .tab-pane{
      .button{
        a{
          text-decoration: none;
          width: 319px;
          height: 76px;
        }
      }
    }
  }
  .testimonial-wrapper{
    background: url(../images/border-pink.png) no-repeat top center;
    padding-top: 50px;
    @include media-breakpoint-down(xs){
      padding-top: 0;
      background: transparent;
    }
    .testi-block{
      .testi{
        font-size: 30px;
        line-height: 35px;
        font-style: italic;
        @include media-breakpoint-down(md){
          font-size: 15px;
          line-height: 23px;
        }
        span{
          font-style: normal;
        }
      }
      .user{
        overflow: hidden;
        width: 160px;
        height: 176px;
        @include media-breakpoint-down(md){
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 108px;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}

#income2{
  background: #ececec;
  .shortdesc{
    font-size: 28px;
  }
  .block{
    .subtitle{
      font-size: 35px;
    }
    .img{
      height: 350px;
    }
    .headline{
      background: #de4670;
      font-size: 30px;
      height: 350px;
      width: 332px;
      border-radius: 25px;
      padding: 20px 31px;
      line-height: 38px;
      display: flex;
      align-items: center;
    }
    .button{
      font-size: 24px;
      a{
        text-decoration: none;
        width: 319px;
        height: 76px;
      }
    }
  }
  .accordion-wrapper{
    .accordion{
      .card{
        background-color: transparent !important;
        border-left: none;
        border-right: none;
      }
      .card-header{
        background: none;
        border: none;
        padding: 0;
        h2{
          button{         
            border-radius: 0;
            display: block;
            outline: none;
            box-shadow: none;   
            color: #262626;
            width: 100%;
            text-align: left;
            text-decoration: none;
          }
        }
      }
    }
  }
  .mobile-tabs{
    #testi-tab{
      li{
        position: relative;
        a{
          &.active{
            &::before{
              position: absolute;
              content: '';
              width: 20%;
              height: 3px;
              background-color: #fff;
              bottom: 0px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
    }
    .tab-pane{
      .button{
        a{
          text-decoration: none;
          width: 319px;
          height: 76px;
        }
      }
    }
  }
}

#step-wrapper{
  .block{
    @include media-breakpoint-down(md){
      text-align: center;
    }
    .img{
      overflow: hidden;
      width: 231px;
      height: 231px;
      border-radius: 50%;
      @include media-breakpoint-down(md){
        display: inline-block;
      }
    }
    h4{
      color: #1f80af;
      font-size: 23px;
    }
    .shortdesc{
      color: #343434;
    }
  }
  .register-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    a{      
      font-weight: 600;
      height: 60px;
      padding: 0 40px;
    }
  }
}

#client-stories{
  background: #ffe5e5;
  .white-left{
    &::before{
      position: absolute;
      content: '';
      width: 50%;
      height: 220px;
      left: 0;
      background-color: #fff;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }
  .white-right{
    &::before{
      position: absolute;
      content: '';
      width: 50%;
      height: 220px;
      right: 0;
      background-color: #fff;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }
  .column{
    font-size: 23px;
    @include media-breakpoint-down(md){
      text-align: center;
    }
  }
}

#trusted{
  background: #ffe8f2;
  h1{
    color: #d74c72;
    font-size: 40px;
  }
  .sliders-wrapper{
    .slick-prev {
      display: none !important;
    }
    .slick-next{
      position: absolute;
      right: -150px;
      top: 20%;
      background: url(../images/arrow-pink.png) no-repeat;
      text-indent: -9999px;
      padding: 0;
      width: 58px;
      height: 58px;
      border: none;
      box-shadow: none;
      @include media-breakpoint-down(xs){
        display: none;
      }
    }
  }
  .block{
    .img{
      height: 30vh;
    }
  }
}


#get-intouch{
  background: #fff4cf;
  h1{
    color: $orange;
    font-size: 60px;
  }
  .block{
    padding: 30px;
    label{
      color: #454545;
    }
    textarea{
      resize: none;
      background-color: #f7f7f7;
    }
    .button-wrapper{
      text-align: right;
      font-size: 22px;
      button{
        width: 182px;
        height: 57px;
      }
    }
  }
  .text-column{
    color: #454545;
    ul{
      li{
        list-style: none;
        padding-left: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a{
          color: #454545;
        }
        &.wa{
          background: url(../images/img-wa.png) no-repeat left center;
        }
        &.location{
          background: url(../images/img-maps.png) no-repeat left center;
        }
      }
    }
  }
}